node_modules
npm-debug.log
.git
.gitignore
.DS_Store
.env
.env.local
.env.*.local
.env.production
.next
.eslintcache
coverage
*.md
.vscode
.idea
*.log
*.swp
*.swo
dist
build
.turbo
firestore-debug.log
ui-debug.log
