[Unit]
Description=QRCheckin Docker Compose Service
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
WorkingDirectory=/home/ubuntu/qrcheckin
ExecStart=/usr/bin/docker-compose up -d
ExecStop=/usr/bin/docker-compose down
RemainAfterExit=yes
User=ubuntu

[Install]
WantedBy=multi-user.target
